<div  class="container">
  <ng-container *ngIf="isShowNavBar">
    <div class="left-navbar">
      <div class="dropdown">
        <button class="dropbtn" routerLink="/home">Trang chủ
        </button>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Hệ thống
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a routerLink="/account">Tài khoản</a>
          <a routerLink="/role">Vai trò</a>
          <a routerLink="/permission">Quyền</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn" routerLink="/product">Sản phẩm
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
    </div>
    <div class="right-navbar">
      <a routerLink="/logout">Đăng xuất</a>
    </div>
  </ng-container>
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>

